<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mi app angular</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>

<body>

  <p class="mitexto">Esto es un parrafo</p>
  <h1>esto es un titulo</h1>
  <h3>esto es otro titulo</h3>

  <table border="1">
    <tr class="myhead">
      <th>Productos</th>
      <th>Precios</th>
      <th>cantidad</th>
    </tr>
    <tr>
      <td>Computadora</td>
      <td>$5.000.000</td>
      <td>20</td>
    </tr>
    <tr>
      <td>Celular Iphone 11</td>
      <td>$3.000.000</td>
      <td>25</td>
    </tr>
    <tr>
      <td><button>Comprar</button></td>
      <td><button>Procesar</button></td>
      <td><button>Enviar</button></td>
    </tr>
  </table>
  <br><br>

  <h3>Mi formulario html</h3>
  <form>

    Usuario
    <input type="text"><br>
    Contraseña
    <input type="text">
    <input type="submit" value="Enviar">
    <br><br>
    <input type="radio" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" value="JavaScript">
    <label for="javascript">JavaScript</label>



  </form>

  <div class="general">
    <h2>London</h2>
    <ol>
      <li><a href="https://www.google.com">Acceso a Google</a></li>
      <li><a href="https://www.google.com">Acceso a Google</a></li>
      <li><a href="https://www.google.com">Acceso a Google</a></li>
      <li><a href="https://www.google.com">Acceso a Google</a></li>

    </ol>

    <div class="subitem">
      <ul>
        <li><a href="https://www.google.com">Acceso a Google</a></li>
        <li><a href="https://www.google.com">Acceso a Google</a></li>
        <li><a href="https://www.google.com">Acceso a Google</a></li>
        <li><a href="https://www.google.com">Acceso a Google</a></li>

      </ul>
      <p>London has over 13 million inhabitants.</p>
    </div>
  </div>



</body>

</html>





<router-outlet />